input {
	file{
		path => "/home/brad/projects/stonksftw/stonks_ftw/datasets/tsx/*.csv"
		start_position => "beginning"
		sincedb_path =>"/dev/null"
	}
}

filter{
	csv{
		separator => ","
		columns => ["Ex-Dividend Date", "Payout Date", "Cash Amount"]
	}
	grok{
		match => {path => "%{GREEDYDATA}/%{GREEDYDATA:filename}\.csv"}
	}
}

output{
	elasticsearch{
		hosts => "http://localhost:9200"
		index => "stonksftw"
		document_type => "dividend-history"
		}
	stdout{}

}
