input {
	file{
		path => "~/projects/stonksftw/stonks_ftw/datasets/tsx/DH_div_history*.csv"
		start_position => "beginning"
		#sincedb_path =>"/dev/null"
	}
	file{
		path => "~/projects/stonksftw/stonks_ftw/datasets/nyse/DH_div_history*.csv"
		start_position => "beginning"
		#sincedb_path =>"/dev/null"
	}
	file{
		path => "~/projects/stonksftw/stonks_ftw/datasets/nasdaq/DH_div_history*.csv"
		start_position => "beginning"
		#sincedb_path =>"/dev/null"
	}
}

filter {
   csv{
      separator => ","

			skip_header => true
			# going to specify column names that align with index in elastic
			columns => ["ex_div_date", "payout_date", "cash_amount", "exchange", "symbol", "ex_div_date_epoch", "payout_date_epoch"]
			# custom type field - ticker doc_type
			add_field => {
						"doc_type"=>"div_history"
	        }
	    remove_field => ["host", "path"]

			}
}

output {
	elasticsearch{
		hosts => "http://localhost:9200"
		index => "stonks_div_history"
	}

#	stdout{}

}
