input {
	file{
		path => "/home/brad/projects/stonksftw/stonks_ftw/datasets/DH_tickers_*.csv"
		start_position => "beginning"
		sincedb_path =>"/dev/null"
	}
}

filter {
   csv{
      separator => ","

			skip_header => true
			# going to try and specify column names that align with index in elastic
			columns => ["symbol", "company", "yield_snap", "ex_div_date_snap", "exchange", "ex_div_date_snap_epoch"]
			# custom type field - ticker doc_type
			add_field => {
						"doc_type"=>"ticker"
	        }
	    remove_field => ["host", "path"]

			}

		mutate{
			gsub => ["yield_snap", "%", ""]
			convert => {"yield_snap" => "float"}
		}

		date{
			match => ["ex_div_date_snap", "YYYY-MM-DD"]
		}


}

output {
	elasticsearch{
		hosts => "http://192.168.0.19:9200"
		index => "stonks_tickers"
	}

	#stdout{}

}
