input {
	file{
		path => "/home/brad/projects/stonksftw/stonks_ftw/datasets/weekly_divhistory_reports/*/div_history_report*.csv"
		start_position => "beginning"
		sincedb_path =>"/dev/null"
	}
}

filter {
   csv{
      separator => ","

			skip_header => true
			# going to specify column names that align with index in elastic
			columns => ["symbol", "company", "price_snap", "yield_snap", "ex_div_date_snap", "pay_ratio", "PE", "PB", "beta", "mkt_cap", "week_change", "month_change", "2_month_change", "3_month_change", "6_month_change", "1_year_change", "report_date_epoch", "div_freq", "market_country", "ex_div_epoch" ]
			# custom type field - ticker doc_type
			add_field => {
						"doc_type"=>"DH_weekly_report"
	        }
	    remove_field => ["host", "path"]

			}
	#date {
	#		timezone => "America/Toronto"
	#		locale => "en"
	#		target => "@timestamp"
	#		}
}

output {
	elasticsearch{
		hosts => "http://192.168.0.19:9200"
		index => "stonks_weekly_reports"
	}

#	stdout{}

}
