input {
	file{
		path => "~/projects/stonksftw/stonks_ftw/datasets/price_history/yahoo_price_history*.csv"
		start_position => "beginning"
		#sincedb_path =>"/dev/null"
	}
}

filter {
   csv{
      separator => ","

			skip_header => true
			# going to specify column names that align with index in elastic
			columns => ["price_date", "open", "high", "low", "close", "volume", "dividend", "splits", "symbol", "exchange", "price_date_epoch"]
			# custom type field - ticker doc_type
			add_field => {
						"doc_type"=>"price_history"
	        }
	    remove_field => ["host", "path"]

			}
}

output {
	elasticsearch{
		hosts => "http://localhost:9200"
		index => "stonks_price_history"
	}

#	stdout{}

}
